h1 {
  text-align: center;
}

.undertitle {
  color: #000;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.duration {
  color: #000;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.three {
  color: #000;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.minutes {
  color: #000;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

button {
  display: flex;
  margin: auto;
  padding: 8px 35px 13px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: var(--duration, 1px) solid #000;
  background: #fff;
}

.circle {
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  border-radius: var(--loops, 300px);
  border: var(--loops, 5px) solid var(--Black, #000);
  display: flex;
  margin: auto;
}

.congratulations {
  color: #000;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
